In [1]:
from datetime import datetime    #زمان
import pandas as pd                    #پانداس
import matplotlib.pyplot as plt         #مصورسازی
import numpy as np          
import finpy_tse as fpy            # دریافت دیتای قیمتی از finpy
import pytse_client as tse
import yfinance as yf
import ta 
import math as math
import asyncio

In [2]:


# دریافت داده قیمتی شاخص کل بورس

def index_kol(bars:int=9500):
    while True:
        try:
            data=fpy.Get_CWI_History(ignore_date=True,double_date=True)
            data=data.iloc[:-bars:-1][::-1]
            data.index=data['Date']
            return(data)
        except Exception as e:
            print(f"An error occurred: {e}")
            asyncio.sleep(2)  # Sleep for 10 seconds before retrying



symbol_data=index_kol()
symbol_data

,Date,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,
2008-12-06,2008-12-06,9249.0,9249.0,9168.0,9178.0,9178.3,8539624
2008-12-07,2008-12-07,9178.0,9178.0,9130.0,9130.0,9130.5,11752353
2008-12-08,2008-12-08,9103.0,9103.0,9080.0,9089.0,9089.2,15299115
2008-12-10,2008-12-10,9072.0,9072.0,9024.0,9024.0,9023.7,15689653
2008-12-13,2008-12-13,8973.0,8973.0,8973.0,8973.0,8973.3,31428174
...,...,...,...,...,...,...,...
2024-05-15,2024-05-15,2165990.0,2166380.0,2159160.0,2164692.0,2164692.3,4125186697
2024-05-18,2024-05-18,2166800.0,2174950.0,2166800.0,2168676.0,2168676.3,4410308923
2024-05-19,2024-05-19,2166180.0,2166180.0,2106430.0,2112560.0,2112560.3,5689636315
2024-05-20,2024-05-20,0.0,2112560.0,2112560.0,2112560.0,2112560.3,0
2024-05-21,2024-05-21,2112160.0,2115230.0,2112110.0,2114144.0,2114144.1,3205802104

In [3]:
symbol_data['ma49']=symbol_data['Close'].rolling(49).mean()    #محاسبه مووینگ 49 روزه ساده

In [4]:
len_symbol_data=len(symbol_data)
len_symbol_data

3724

In [5]:
def trend_status(shiftex:int=2):

    symbol_data['uptrend']=np.zeros((len_symbol_data))
    symbol_data['downtrend']=np.zeros((len_symbol_data))
    symbol_data['confused']=np.zeros((len_symbol_data))


    for i in range (-1,-(len_symbol_data)+2,-1):
        
        if symbol_data['Close'][i+shiftex] > symbol_data['ma49'][i+shiftex]   and   symbol_data['ma49'][i+shiftex] > symbol_data['ma49'][i+shiftex-1] :
            
            symbol_data['uptrend'][i+shiftex]= 'up'
        
        
        elif symbol_data['Close'][i+shiftex] < symbol_data['ma49'][i+shiftex]   and   symbol_data['ma49'][i+shiftex] < symbol_data['ma49'][i+shiftex-1] :
            
            symbol_data['downtrend'][i+shiftex]= 'down'

        else:
            symbol_data['confused'][i+shiftex]= 'confused'
            
        

    return symbol_data




trend_status()

C:\Users\MSI\AppData\Local\Temp\ipykernel_12224\4116392475.py:10: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if symbol_data['Close'][i+shiftex] > symbol_data['ma49'][i+shiftex]   and   symbol_data['ma49'][i+shiftex] > symbol_data['ma49'][i+shiftex-1] :
C:\Users\MSI\AppData\Local\Temp\ipykernel_12224\4116392475.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  elif symbol_data['Close'][i+shiftex] < symbol_data['ma49'][i+shiftex]   and   symbol_data['ma49'][i+shiftex] < symbol_data['ma49'][i+shiftex-1] :
C:\Users\MSI\AppData\Local\Temp\ipykernel_12224\4116392475.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  symbol_data['confused'][i+shiftex]= 'confused'
C:\Users\MSI\AppData\Local\Temp\ipykernel_12224\4116392475.py:20: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  symbol_data['confused'][i+shiftex]= 'confused'
C:\Users\MSI\AppData\Local\Temp\ipykernel_12224\4116392475.py:20: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'confused' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  symbol_data['confused'][i+shiftex]= 'confused'
C:\Users\MSI\AppData\Local\Temp\ipykernel_12224\4116392475.py:10: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if symbol_data['Close'][i+shiftex] > symbol_data['ma49'][i+shiftex]   and   symbol_data['ma49'][i+shiftex] > symbol_data['ma49'][i+shiftex-1] :
C:\Users\MSI\AppData\Local\Temp\ipykernel_12224\4116392475.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  elif symbol_data['Close'][i+shiftex] < symbol_data['ma49'][i+shiftex]   and   symbol_data['ma49'][i+shiftex] < symbol_data['ma49'][i+shiftex-1] :
C:\Users\MSI\AppData\Local\Temp\ipykernel_12224\4116392475.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  symbol_data['downtrend'][i+shiftex]= 'down'
C:\Users\MSI\AppData\Local\Temp\ipykernel_12224\4116392475.py:17: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  symbol_data['downtrend'][i+shiftex]= 'down'
C:\Users\MSI\AppData\Local\Temp\ipykernel_12224\4116392475.py:17: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'down' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  symbol_data['downtrend'][i+shiftex]= 'down'
C:\Users\MSI\AppData\Local\Temp\ipykernel_12224\4116392475.py:10: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if symbol_data['Close'][i+shiftex] > symbol_data['ma49'][i+shiftex]   and   symbol_data['ma49'][i+shiftex] > symbol_data['ma49'][i+shiftex-1] :
C:\Users\MSI\AppData\Local\Temp\ipykernel_12224\4116392475.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  elif symbol_data['Close'][i+shiftex] < symbol_data['ma49'][i+shiftex]   and   symbol_data['ma49'][i+shiftex] < symbol_data['ma49'][i+shiftex-1] :
C:\Users\MSI\AppData\Local\Temp\ipykernel_12224\4116392475.py:20: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  symbol_data['confused'][i+shiftex]= 'confused'
C:\Users\MSI\AppData\Local\Temp\ipykernel_12224\4116392475.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  symbol_data['uptrend'][i+shiftex]= 'up'
C:\Users\MSI\AppData\Local\Temp\ipykernel_12224\4116392475.py:12: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  symbol_data['uptrend'][i+shiftex]= 'up'
C:\Users\MSI\AppData\Local\Temp\ipykernel_12224\4116392475.py:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'up' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  symbol_data['uptrend'][i+shiftex]= 'up'
C:\Users\MSI\AppData\Local\Temp\ipykernel_12224\4116392475.py:10: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if symbol_data['Close'][i+shiftex] > symbol_data['ma49'][i+shiftex]   and   symbol_data['ma49'][i+shiftex] > symbol_data['ma49'][i+shiftex-1] :
C:\Users\MSI\AppData\Local\Temp\ipykernel_12224\4116392475.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  elif symbol_data['Close'][i+shiftex] < symbol_data['ma49'][i+shiftex]   and   symbol_data['ma49'][i+shiftex] < symbol_data['ma49'][i+shiftex-1] :
C:\Users\MSI\AppData\Local\Temp\ipykernel_12224\4116392475.py:20: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  symbol_data['confused'][i+shiftex]= 'confused'
C:\Users\MSI\AppData\Local\Temp\ipykernel_12224\4116392475.py:17: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  symbol_data['downtrend'][i+shiftex]= 'down'

,Date,Open,High,Low,Close,Adj Close,Volume,ma49,uptrend,downtrend,confused
Date,,,,,,,,,,,
2008-12-06,2008-12-06,9249.0,9249.0,9168.0,9178.0,9178.3,8539624,NaN,0.0,0.0,confused
2008-12-07,2008-12-07,9178.0,9178.0,9130.0,9130.0,9130.5,11752353,NaN,0.0,0.0,confused
2008-12-08,2008-12-08,9103.0,9103.0,9080.0,9089.0,9089.2,15299115,NaN,0.0,0.0,0.0
2008-12-10,2008-12-10,9072.0,9072.0,9024.0,9024.0,9023.7,15689653,NaN,0.0,0.0,0.0
2008-12-13,2008-12-13,8973.0,8973.0,8973.0,8973.0,8973.3,31428174,NaN,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
2024-05-15,2024-05-15,2165990.0,2166380.0,2159160.0,2164692.0,2164692.3,4125186697,2.216380e+06,0.0,0.0,confused
2024-05-18,2024-05-18,2166800.0,2174950.0,2166800.0,2168676.0,2168676.3,4410308923,2.218703e+06,0.0,0.0,confused
2024-05-19,2024-05-19,2166180.0,2166180.0,2106430.0,2112560.0,2112560.3,5689636315,2.219234e+06,0.0,0.0,confused
2024-05-20,2024-05-20,0.0,2112560.0,2112560.0,2112560.0,2112560.3,0,2.218529e+06,0.0,down,0.0
2024-05-21,2024-05-21,2112160.0,2115230.0,2112110.0,2114144.0,2114144.1,3205802104,2.217998e+06,0.0,down,0.0